
html {
    text-align: center;
}


body {
    background: linear-gradient(90deg, #810280, #f97f72);
}
ul {
    width: 30%;
    text-align: left;
    margin: 0 auto;
}
hr {
    border: 1px solid white;
    opacity: 50%;
    width: 50%;
    margin: 0 auto
}


img {
    width: 15%;
}

ol{
    width: 30%;
    text-align: left;
    margin: 0 auto;
}
header p {
    border: 20px solid white;
}

